body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:14px;
  width:686px;
  height:49px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:22px;
  width:320px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:20px;
  width:81px;
  height:37px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:85px;
  width:686px;
  height:239px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:99px;
  width:650px;
  height:215px;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:0px;
  width:98px;
  height:30px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:111px;
  height:30px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:0px;
  width:113px;
  height:30px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:0px;
  width:186px;
  height:30px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:182px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:39px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:142px;
  height:39px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:39px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:30px;
  width:98px;
  height:39px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:39px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:30px;
  width:111px;
  height:39px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:39px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:30px;
  width:113px;
  height:39px;
  text-decoration:underline;
  color:#199ED8;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:39px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:30px;
  width:186px;
  height:39px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:44px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:142px;
  height:44px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:138px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:44px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:69px;
  width:98px;
  height:44px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:44px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:69px;
  width:111px;
  height:44px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:107px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:44px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:69px;
  width:113px;
  height:44px;
  text-decoration:underline;
  color:#199ED8;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:109px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:44px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:69px;
  width:186px;
  height:44px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:53px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:142px;
  height:53px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:138px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:53px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:113px;
  width:98px;
  height:53px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:94px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:53px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:113px;
  width:111px;
  height:53px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:107px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:53px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:113px;
  width:113px;
  height:53px;
  text-decoration:underline;
  color:#199ED8;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:109px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:53px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:113px;
  width:186px;
  height:53px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:182px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:49px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:142px;
  height:49px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:138px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:166px;
  width:98px;
  height:49px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:94px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:49px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:166px;
  width:111px;
  height:49px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:49px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:166px;
  width:113px;
  height:49px;
  text-decoration:underline;
  color:#199ED8;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:109px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:49px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:166px;
  width:186px;
  height:49px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:182px;
  word-wrap:break-word;
}
#u30_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:20px;
  width:81px;
  height:33px;
  font-size:18px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:57px;
  width:109px;
  height:42px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:105px;
  word-wrap:break-word;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:57px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u32 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:362px;
  width:150px;
  height:57px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:362px;
  width:0px;
  height:0px;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-51px;
  width:8px;
  height:51px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-51px;
  width:6px;
  height:8px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:66px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u34 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:353px;
  width:150px;
  height:66px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:53px;
  width:0px;
  height:0px;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:291px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:283px;
  width:15px;
  height:8px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:283px;
  width:8px;
  height:17px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:146px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u36 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:20px;
  width:110px;
  height:37px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:39px;
  width:0px;
  height:0px;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-4px;
  width:17px;
  height:8px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:445px;
  width:686px;
  height:49px;
  color:#A1A1A1;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:455px;
  width:320px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:453px;
  width:81px;
  height:33px;
  font-size:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:462px;
  width:115px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:462px;
  width:78px;
  height:22px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
}
#u42_input:disabled {
  color:grayText;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:49px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:520px;
  width:686px;
  height:49px;
  color:#A1A1A1;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:527px;
  width:320px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#C9C9C9;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:525px;
  width:81px;
  height:33px;
  font-size:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:534px;
  width:115px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#BCBCBC;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:534px;
  width:78px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background-color:#282828;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#E4E4E4;
}
#u47_input:disabled {
  color:grayText;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u48 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:334px;
  width:150px;
  height:61px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:395px;
  width:0px;
  height:0px;
  color:#D0E17D;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:49px;
  width:13px;
  height:8px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u50 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:596px;
  width:156px;
  height:63px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:596px;
  width:0px;
  height:0px;
  color:#D0E17D;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-28px;
  width:8px;
  height:28px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-28px;
  width:70px;
  height:8px;
}
#u51_seg2 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-47px;
  width:8px;
  height:27px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:345px;
  width:140px;
  height:40px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:608px;
  width:140px;
  height:40px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
